
body {
    text-align: center;
    overflow-x: hidden; /* removed weird right space padding */
}


h1 {
    font-size: 3.0rem;
    line-height: 1.2;
    color: #fff;
}


.container-fluid{
    padding: 0% 0% 2%;
}



/*---- Hero Section ----*/

.navbar {
    margin: 0% 6%;
}


.title-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0,0.45)), url("../img/main.jpeg") ;
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-color: red;
}

.titlearea {
    margin: 10% 10%;
    text-align: left;

    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-75%, -80%); */
}

.download-button {
    margin-top: 3%;
}


/*---- Services ----*/

.Services {
    padding: 3% 7%;
}

.services-column {
    padding: 4% 2%;
}

/*----- Testimonials---- */
.Testimonials {
    background-color: #dfdddda9;
    padding: 3% 7%;
}

.testimonial-image {
    width: 20%;
    border-radius: 100%;
    margin: 5px 0px 50px 0px;
    
}

.carousel {
    margin-top: 20px;
}

/*----- Contact Us---- */

.contact-us {
    padding: 3% 7%;
}

.contact-us-column {
    padding: 2%;
}

.form-group {
    font-size: 1.2rem;
    text-align: left;
}

.submit-form {
    text-align: left;
}

.contact-us-img {
    width: 80%;
}

/*----- Footer  ---- */

footer {
    background-color: #dfdddda9;
    overflow: auto;
    padding: 3% 7%;
}

